<!DOCTYPE html>
<html>
  <head>
    <style>

    html {
      background-color: grey;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body {
      background-color: blue;
      font-family: 'Bungee Inline', cursive;
      width: 80%;
      align-items: center;
    }
    h1 {
      color: red;
      font-size: 75px;
      margin-bottom: 30px;
      width: 100%;
    }

    h3 {
      font-size: 50px;
    }
    p  {
      color: red;
    }
    </style>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
